// Variables
$background-color: #F7F8FA;

$main-color: #4D637B;
$main-black: #676767;
$main-gray: #c3c3c3;

$secondary-color: #75b2f5;
$secondary-color-variant: #5094de;

$default-padding: 15px;
$big-padding: 30px;
$huge-padding: 50px;

$wrapper-size: 1080px;
$wizard-size: 620px;

$circle-size: 40px;
$line-height: 6px;
$default-border-radius: 5px;

$animation-time: .5s;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);
$background-url: 'http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1444253482/DG2015-paris.jpg?itok=XH81cBH9';

// Page 
body, html{
    padding: 0;
    margin: 0;  
    background: $background-color;
    font-family: 'Lato', sans-serif;
    color: $main-black;
}

// General classes
.wrapper{
    position: relative;
    max-width: $wrapper-size;
    margin: 50px auto;
}

// Wizard
.wizard{
    max-width: $wizard-size;
    margin: 0 auto;

    &__header{
        position: relative;
        color: #FFF;
        padding: $huge-padding;
        border-radius: $default-border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
        height: 100px;

        background: url($background-url);
        background-color: $main-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__header-content{
        position: absolute;
        width: 100%;
        padding: 0 $huge-padding;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }

    &__header-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($main-color, 0.6);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__title{
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }

    &__subheading{
        text-transform: uppercase;
        margin: 0;
        font-size: .8rem;
        font-weight: 100;
        letter-spacing: 2px;

        span{
            font-weight: 600;
        }
    }

    &__steps{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(50%);
        z-index: 10;
    }

    &__footer{
        padding: 0 $huge-padding $huge-padding;
        border-radius: $default-border-radius;
    }

    &__content{
        background: #FFF;
        box-shadow: 0px 0px 10px #c5c5c5;
        border-radius: $default-border-radius;
    }

    &__congrats-message{
        color: $main-black;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

    }

    &.completed{
        .wizard__content{
            animation: gettingOut 2s cubic-bezier(1,-0.71, 1, 1.16) forwards;
        }

        .wizard__congrats-message{
            animation: fadeIn 2s cubic-bezier(1,-0.71, 1, 1.16) forwards;
        }
    }
}

// Lines
.line{
    position: absolute;
    top: $circle-size / 2;
    left: 50%;
    z-index: -1;
    height: $line-height;
    transition: all $animation-time ease;

    &.-start{
        left: 0%;
        background: $secondary-color-variant;
        width: 50%;
    }

    &.-end{
        left: 50%;
        background: $secondary-color-variant;
        width: 50%;
    }

    &.-background{
        background: $main-gray;
        width: 100%;
    }

    &.-progress{
        background: $secondary-color-variant;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left center;
    }

    &.-in-progress{
        transform: scaleX(1);
    }
}

// Panels
.panels{
    position: relative;
    overflow: hidden;
}

.panel{
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s all;
    padding: $huge-padding;

    &__header{
        margin-bottom: $big-padding;
    }

    &__title{
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }

    &__subheading{
        font-size: .9rem;
        line-height: 1.2rem;
        margin: 0;
    }

    &.movingOutBackward{
        transform: translateX($wizard-size * -1);
    }

    &.movingOutFoward{
        transform: translateX($wizard-size);
    }

    &.movingIn{
        transform: translateX(0);
    }
}

// Steps
.steps{
    position: relative;
    display: flex;
    flex: 0 1 auto;
    color: #fff;
}

.step{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;

    &__content{
        position: relative;
        z-index: 2;
    }

    &__number{
        font-size: 1.3rem;
        color: $main-black;
        background: #FFF;
        font-weight: 800;
        width: $circle-size;
        height: $circle-size;
        line-height: $circle-size;
        margin: 0 auto;
        border-radius: 50%;
        border: 5px solid $main-gray;

        transition: opacity .5s;
        opacity: 1;
        z-index: 5;
    }

    &.-completed{
        .step__number{
            opacity: 0;
        }

        .checkmark{
            z-index: 0;
            animation:  fill .4s ease-in-out forwards, 
                scale .3s ease-in-out .6s both;
        }

        .checkmark__check {
            animation: stroke .5s linear .4s forwards;
        }

        .line{
            transform: scaleX(1);
        } 
    }

    &:last-child{
        .line{
            width: 50%;
        }
    }
}

// Checkmark
.checkmark {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $circle-size + 10px;
    height: $circle-size + 10px;
    border-radius: 50%;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px $secondary-color;
    z-index: -1;

    &__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 8;
        stroke-miterlimit: 10;
        stroke: $secondary-color-variant;
        fill: none;
        animation: stroke .6s $curve forwards;
    }

    &__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 40;
        stroke-dashoffset: 40;
        stroke: #FFF;
        stroke-width: 5;
    }
}

// Buttons
.button{
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    background: $secondary-color-variant;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    outline: none;
    display: inline-block;
    transition: all .3s;

    &:hover{
        background: lighten($secondary-color-variant, 10%);
    }

    &.previous{
        margin-right: 5px;
    }

    &.disabled{
        background: $main-gray;
        cursor: default;
    }
}

// Animations
@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    50% {
        transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
    }

    100% {
        transform: scale3d(0);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px $secondary-color;
    }
}

@keyframes gettingOut {  
    0%{
        transform: translateY(0%);
    }

    30%{
        transform: translateY(100px);  
    }

    100%{
        transform: translateY(-200%);
    }
}

@keyframes fadeIn {
    100%{
        opacity: 1;
    }
}